homework/lab5/zad2/__pycache__/test_distance.cpython-38-pytest-7.2.0.pyc
homework/lab5/zad1/biggest_sum.py
homework/lab5/zad2/__pycache__/distance.cpython-38.pyc
homework/lab5/zad1/__pycache__/test_biggest_sum.cpython-38-pytest-7.2.0.pyc
homework/lab5/zad1/__pycache__/biggest_sum.cpython-38.pyc
homework/lab5/zad2/__pycache__/test_flat_distance.cpython-38-pytest-7.2.0.pyc
homework/lab5/zad4/__pycache__/test_vigenere.cpython-38-pytest-7.2.0.pyc
homework/lab5/zad4/__pycache__/vigenere.cpython-38.pyc
practice/lab5/__pycache__/test_paragony.cpython-38-pytest-7.2.0.pyc
practice/.vscode/settings.json
practice/lab5/__pycache__/test_paragony.cpython-38-pytest-7.2.0.pyc
practice/lab6/__pycache__/definitons.cpython-38.pyc
practice/lab5/__pycache__/test_paragony.cpython-38-pytest-7.2.0.pyc
